<%= form_with(model: author, local: true) do |form| %>

  <div class="field">
    <%= form.label :frist %>
    <%= form.text_field :frist %>
  </div>

  <div class="field">
    <%= form.label :last %>
    <%= form.text_field :last %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
